<header class="site-header">

  <div class="wrapper">

    <div class="flex-container">
      <div class="box box-logo">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div class="box box-nav">
        <nav class="site-nav">
          {% assign pages = site.pages | sort:"weight"  %}
          {% for p in pages %}
            {% if p.title && p.menu == "main" %}
              {% if p.menu == "main" %}
                <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </nav>
      </div>


    </div>

  </div>

</header>
