/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 30px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    ul {
      margin: 0;
      text-align: center;
      font-size: $font-size-s;
      li {
        list-style-type: none;
        display: inline;
        &:not(:last-child) {
          margin-right: $gutter-m;
        }
      }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .box {
    &.box-logo {
      flex: 1 1 250px;
    }
    &.box-nav {
      flex: 1 1 400px;
    }
  }
}

.grid {
  margin-bottom: 100px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 233.333333333px;
}


.gutter-sizer {
  width: 20px;
}

.grid-item {
  height: 305px;
  float: left;
  background: #fff;
  margin-bottom: 20px;
  color: #696969;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 11px 20px -6px rgba(0,0,0,0.2);
  border-radius: 10px;
  text-align: right;
  &.revival {
    figure {
      &:after  {
        content: '';
        width: 75px;
        height: 57px;
        position: absolute;
        bottom: -7px;
        left: -16px;
        background-image: url(/img/revival.png);
        background-size: cover;
      }
    }
  }
  figure {
    width: 90%;
    padding: 5%;
    margin: 0;
    position: relative;
    img {
      margin-bottom: 10px;
      width: 100%;
    }
    figcaption {
      font-size: $font-size-l;
      padding-left: 20%;
    }

  }
  p {
    display: none;
    font-style: italic;
  }
}

/* default is square */

.grid-item-regular-landscape {
  height: 200px;
}

.grid-item-large,
.grid-item-highlight {
  width:  486.6666667px;
  height: 670px;
  figure {
    width: 90%;
    padding: 5%;
    img {
      margin-bottom: 10px;
    }
  }
  p {
    display: block;
    margin: 0 5% 10px;
  }
  &.revival {
    figure {
      &:after  {
        width: 105px;
        height: 79px;
        bottom: -14px;
        left: -16px;
      }
    }
  }
}

.grid-item-highlight {
  background-color: #FF7E56;
  cursor: default;
  color: #fff;
}
